* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1366px;
    margin: 0px auto;
}

header {
    display: flex;
    background-color: #2e2e2e;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    color: white;
    margin-left: 20px;
}

.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articles article {
    width: 30%;
}

.articles article img {
    width: 100%;
}

.articles article a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 8px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.articles article a:hover {
    text-decoration: underline;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 24px;
    font-weight: bold;
}

#sports {
    background-color: lightgreen;
}

#economy {
    background-color: gold;
}

#entertainment {
    background-color: #ff261b;
}

#technology {
    background-color: lightskyblue;
}

section h2 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
}